<main>
  <p id="notice"></p>
     <div class="container">
       <div class="row">
        <p><strong>Guildとは？</strong></p><br>
        <p>Guildとは依頼を受けて報酬をもらう中二病が全開の組織です。</p><br>
        <p>ランクはA～Dまであり、初心者はDから始まります。</p><br>
        <p>依頼はゴミ掃除から鳥獣退治、警備まであります。</p><br>
        <p>あなたの力が全市民の力になります。</p><br>
       </div>
     </div>
</main>